In [6]:
 
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("training3.csv")
df

    jeniskelamin  kehadiran  kinerja  attitude  bobot  keterangan
0              0          1        1         1    0.8           1
1              0          1        0         0    0.6           1
2              1          0        1         1    0.5           1
3              1          1        0         1    0.4           1
4              0          1        0         1    0.4           1
5              0          1        1         0    0.5           1
6              0          0        1         0    0.5           0
7              0          1        0         1    0.4           0
8              1          1        0         0    0.5           1
9              0          1        1         1    0.5           0
10             0          1        1         1    0.4           0
11             0          0        1         0    0.5           0
12             0          1        0         0    0.6           0
13             1          1        1         0    0.5           0
14             1          0        1         1    0.6           1

In [8]:
x = df.drop(["keterangan"], axis=1)
x.head(5)

   jeniskelamin  kehadiran  kinerja  attitude  bobot
0             0          1        1         1    0.8
1             0          1        0         0    0.6
2             1          0        1         1    0.5
3             1          1        0         1    0.4
4             0          1        0         1    0.4

In [10]:
y = df["keterangan"]
y.head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    0
7    0
8    1
9    0
Name: keterangan, dtype: int64

In [11]:
#import Gaussian naive bayesian model
from sklearn.naive_bayes import GaussianNB

In [12]:
#memanggil fungsi gaussian naive bayes 
nbc = GaussianNB()

In [13]:
#memasukkan data training pada fungsi klasifikasi naive bayes
data_training = nbc.fit(x,y)

In [14]:
#melakukan prediksi pada data training
y_predict = data_training.predict(x)
print(y_predict)

[1 1 1 1 1 0 0 1 1 0 0 0 1 1 1]

In [15]:
#melakukan prediksi pada data  input 
jeniskelamin = 1 #Pria
kehadiran = 0 #sedang
kinerja = 0 #sedang
attitude = 1 #bagus
bobot = 0.8
Data_Testing =[[jeniskelamin,kehadiran,kinerja,attitude,bobot]]

In [16]:
 y_pred = data_training.predict(Data_Testing)

C:\Users\asus\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [18]:
if y_pred ==0:
    hasil = "layak"
elif y_pred ==1:
    hasil = "tepat"
    else:
        hasil = "eror"

print("Hasil Prediksi Kelulusan Mahasiswa=", hasil)

SyntaxError: invalid syntax (7027129.py, line 5)

In [19]:
#menghitung akurasi
from sklearn.metrics import accuracy_score
print("Nilai Akurasi = %0.2f" % accuracy_score(y,y_predict))

Nilai Akurasi = 0.73